<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/avi/PdfMk"
			class = "org.xtext.avi.pdfMk.PdfMkPackage"
			genModel = "model/generated/PdfMk.genmodel" />
	</extension>
</plugin>
